<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền truy cập Internet và vị trí -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:label="nhom4_muasamthoitrangonline"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Flutter embedding v2 -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Google Sign-In CLIENT_ID (lấy từ Firebase Web App) -->
        <meta-data
            android:name="com.google.android.gms.auth.api.signin.1:904040468234:android:2dcee173a561386696b4f3"
            android:value="@string/default_web_client_id"/>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>
            
            <!-- Intent filter để app khởi chạy -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
